.businessName {
  display: block;
  float: left;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 15px;
  font-weight: 300;
  overflow: hidden;
}

.alignMiddle {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 5px;
    text-align: center;
}

ul.select2-results__options {
    max-height: 100px !important;
}